.App {
  text-align: center;
  max-width: 920px;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 920px;
  width: 100%;
}

.App-container {
  display: flex;
  justify-content: center;
}
.App-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.App-container:before {
  height: 100%;
  width: 50%;
  background: #fff;
  position: fixed;
  content: " ";
  top: 0;
  right: 0;
  animation-fill-mode: both;
  transform-origin: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
  width: 50%;
  font-weight: bold;
}

.App-header .profile {
  margin-top: 20px;
  font-size: 14px;
  color: #adb0b7;
  line-height: 1.6rem;
}

.App-header .profile a {
  color: #adb0b7;
}

.App-header .profile .errors {
  color: red;
}

.App-header img {
  margin-top: 20px;
}

.App-form {
  padding: 20px;
  width: 50%;
}

.App-form .input {
  line-height: 2rem;
}

.App-link {
  color: #61dafb;
}

.App-plan {
  padding: 20px;
  border: 1px solid #d6d6d6;
  margin: 20px;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}
.App-plan:hover {
  box-shadow: var(--box-shadow);
}
.App-plan h2 {
  margin-bottom: 7px;
}
.App-plan-icon {
  width: 30px;
  margin-left: auto;
}

.logout {
  font-size: 10px;
  margin-top: 20px;
}
.logout button {
  color: #adb0b7;
}

@media only screen and (min-width: 992px) {
  .App {
    align-items: flex-start;
    transform: translateY(max(48px, calc(50vh - 55%)));
  }
}
