.App {
  text-align: center;
  max-width: 920px;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 720px;
  width: 100%;
}

.hero {
  color: rgb(31, 45, 61);
  font-size: 28px;
  padding: 40px 0;
}

.App-container {
  display: flex;
  justify-content: center;
}
.App-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  width: 100%;
  font-weight: bold;
  font-size: 34px;
  font-weight: 300;
  margin-top: 50px;
}

.App-header .profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.App-header .profile .errors {
  color: red;
}

.App-header .logout {
  font-size: 1.2rem;
  margin-left: 15px;
  text-decoration: underline;
  color: #007ef3;
  cursor: pointer;
}

.App-header .logout a {
  border-radius: 3px;
}

.App-header .resource-status {
  font-size: 1.6rem;
  font-weight: normal;
  padding: 0px 0 40px 0;
}

.App-header img {
  margin-top: 20px;
}

.App-toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.spinner {
  height: 24px;
  animation: spin 4s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-form {
  padding: 40px;
  margin-bottom: 80px;
  width: 100%;
  background: white;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  box-shadow: 0 0.8rem 1.6rem rgb(50 50 93 / 8%),
    0 0.4rem 1.2rem rgb(0 0 0 / 7%);
}

.App-form .input {
  line-height: 2rem;
}

.App-link {
  color: #61dafb;
}

.App-plan {
  padding: 20px;
  border: 1px solid #d6d6d6;
  margin: 20px;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  line-height: 32px;
  font-size: 1.4rem;
}
.App-plan:hover {
  box-shadow: var(--box-shadow);
}
.App-plan h2 {
  margin-bottom: 7px;
}
.App-plan-icon {
  width: 30px;
  margin-left: auto;
}

.Settings h2 {
  font-size: 28px;
}

.App-form .progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App-form .progress .progress-message {
  margin: 50px;
}
