.App {
  text-align: center;
  max-width: 920px;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 920px;
  width: 100%;
}

.App-container {
  display: flex;
  justify-content: center;
}
.App-background {
  background-color: #282c34;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.App-container:before {
  height: 100%;
  width: 50%;
  background: #fff;
  position: fixed;
  content: " ";
  top: 0;
  right: 0;
  animation-fill-mode: both;
  transform-origin: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
  width: 50%;
}
.App-form {
  padding: 20px;
  width: 50%;
}

.App-link {
  color: #61dafb;
}

@media only screen and (min-width: 992px) {
  .App {
    align-items: flex-start;
    transform: translateY(max(48px, calc(50vh - 55%)));
  }
}
